<!DOCTYPE html>
{{ bootstrap.load_css() }}

<body>
	<p> this is a test </p>
	{% from 'bootstrap5/form.html' import render_form %}

	{% block title %}
	Resources
	{% endblock %}

	{% block content %}
	<div class="container">
  		<div class="row">
   			<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

     				<h1 class="pt-5 pb-2">Welcome to the AWS management tool test</h1>

      				<p class="lead">This is the index page for the test Flask app using Bootstrap and WTForms.</p>

      				{{ render_form(form) }}

      				<p class="pt-5"><strong>{{ message }}</strong></p>
	
    </div>
  </div>
</div>

	{% endblock %}
</body>
</html>
